In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('ex1data2.txt', sep = ',', header = None)
data.head()

      0  1       2
0  2104  3  399900
1  1600  3  329900
2  2400  3  369000
3  1416  2  232000
4  3000  4  539900

In [3]:
X = data.iloc[:,0:2]
y = data.iloc[:,2]
y = y[:,np.newaxis]
m = len(y)

In [4]:
def featureNormalization(X):
    X_norm = (X - np.mean(X)) / np.std(X)
    return X_norm
X = featureNormalization(X)

In [5]:
X = np.hstack((np.ones((m, 1)), X))
alpha = 0.01
iters = 400
theta = np.zeros((3,1))

In [6]:
def predict(X, theta):
    pred = np.dot(X, theta)
    return pred

In [7]:
def computeCost(X, y, theta):
    J = 1/(2*m) * np.sum((X @ theta - y)**2)
    return J
J = computeCost(X, y, theta)
print(J)

65591548106.45744

In [8]:
def gradientDescent(X, y, theta, alpha, iters):
    for _ in range(iters):
        theta = theta - (alpha / m) * np.dot(X.T, np.dot(X, theta) - y)
    return theta
theta = gradientDescent(X,y,theta,alpha,iters)
print(theta)

[[334302.06399328]
 [ 99411.44947359]
 [  3267.01285407]]

In [9]:
J = computeCost(X,y,theta)
print(J)

2105448288.6292474

In [10]:
X_sample = featureNormalization(np.array([1650,3]))
X_sample = np.append(np.ones(1), X_sample)
pred = predict(X_sample, theta)
print("For size of house = 1650, Number of bedroom = 3, we predict a house value of $",np.round(pred))

For size of house = 1650, Number of bedroom = 3, we predict a house value of $ [430447.]